@import url("https://fonts.googleapis.com/css2?family=Judson&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body {
	background-color: #efefef;
} */
/*^ -------------------------------------------------------------------------- */
/*^                                  CONTAINER                                 */
/*^ -------------------------------------------------------------------------- */
div.container {
	width: 80%;
	background-color: #eeecec;
	margin: 42px auto;
	border-radius: 2rem;
	box-shadow: 2px 2px 50px black;
	font-family: "Judson", serif;
}

/*+ -------------------------------------------------------------------------- */
/*+                                   HEADER                                   */
/*+ -------------------------------------------------------------------------- */
.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 3rem;
	border-bottom: 2px solid #d9d9d9;
	padding: 10px 50px;
}

.logo {
	height: 50px;
	padding: 0.5rem;
	border-radius: 1rem;
	box-shadow: -1px 1px 5px;
	margin: 1rem;
}

.input-part {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;
}

select {
	font-family: "Bellota", cursive;
	height: 40px;
	width: 188px;
	font-weight: 600px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #d9d9d9;
	padding: 5px;
}

.search-input {
	width: 300px;
	height: 40px;
	background-color: #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
}

.search-input input {
	padding: 10px;
	outline: none;
	border: none;
	background-color: inherit; /* transparent */
}

.search-input img {
	width: 30px;
	height: 30px;
	margin: 1rem;
}

.support {
	font-size: 19px;
	text-align: right;
}

.support-number {
	font-weight: 600;
}

.support-text {
	font-size: 0.8rem;
}

.icons {
	margin-right: 20px;
}

.icons img {
	padding: 10px;
}

/*- -------------------------------------------------------------------------- */
/*-                                   NAVBAR                                   */
/*- -------------------------------------------------------------------------- */

.navbar {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin: 1rem 0 0 4rem;
	padding: 10px 50px;
}

.categoryButton {
	display: flex;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #d9d9d9;
	border-radius: 5px;
	padding: 10px;
	width: 260px;
}

.categoryButton p {
	font-style: italic;
	margin-left: 18px;
}

.categoryButton ul {
	list-style-type: none;
}

.navbar ul li {
	display: inline-block;
	padding: 10px;
}

/*\ -------------------------------------------------------------------------- */
/*\                                  FURNITURE                                 */
/*\ -------------------------------------------------------------------------- */

.furniture {
	margin-top: 20px;
	/* height: 350px; */
	padding: 2rem 5rem;
	background-image: url(./images/stock.jpg);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.essentials {
	background-color: #d5dee5;
	width: 800px;
	height: 300px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
}

.essantial-text {
	font-size: 2rem;
	font-style: italic;
	padding: 20px;
}

.lightning {
	background-color: #ffc868;
	border-radius: 10px;
	box-shadow: 5px 5px 10px black;
	width: 400px;
	height: 300px;
	flex-shrink: 0;
	margin-left: 3rem;
}

.lightning-text {
	width: 80%;
	float: right;
	padding: 2rem;
	margin-bottom: -200px;
	direction: rtl;
	line-height: 1.3;
	font-style: italic;
}
.lightning img {
	width: 100%;
	height: 300px;
	border-radius: 5px;
}
/*| -------------------------------------------------------------------------- */
/*|                                  CATEGORY                                  */
/*| -------------------------------------------------------------------------- */
.categorySection {
	background-color: #ad9f8c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.category-part,
.product-part {
	padding: 2rem;
}

.browseCategory,
.browseProduct {
	margin-bottom: 2rem;
	font-size: 1.5rem;
	font-weight: 400;
}

.categories,
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* border: 2px solid black; */
}

.category {
	width: 350px;
	height: 350px;
	margin: 1rem;
	padding: 1rem 2px 1rem 1rem;
	/* border: 2px solid black; */
	border-radius: 10px;
	background-color: rgba(238, 236, 236, 0.86);
	box-shadow: 2px 2px 50px black;
}

.category p {
	font-weight: 500;
	font-family: "Josefin Slab", serif;
}

.category img {
	width: 100%;
	height: 100%;
	padding: 1rem 10px 1rem 1rem;
	border: 10px;
	border-radius: 2rem;
	position: relative;
}

/*// -------------------------------------------------------------------------- */
/*//                                  PRODUCTS                                  */
/*// -------------------------------------------------------------------------- */

.productSection {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #eeecec;
}



.product {
	width: 350px;
	height: 300px;
	margin: 1rem;
	border-radius: 10px;
	background-color: #d9d9d9;
	box-shadow: 2px 2px 20px black;
	text-align: center;
}

.product p {
	font-weight: 500;
}

.product img {
	width: 100%;
	height: 90%;
	border: 10px;
	border-radius: 10px;
	object-fit: cover;
}

/*~ -------------------------------------------------------------------------- */
/*~                                  CONTACT                                  */
/*~ -------------------------------------------------------------------------- */

.contact {
	background-color: #AEA08D;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3rem 5rem;
}

.expert {
	font-family: "Bellota",cursive;
	padding: 2rem;
	flex: 5;

}

.lookForExpert {
	font-size: 2rem;
	/* line-height: 41.6px; */

}
.lookForExpert span {
	color: #f37705;
}
.leaveInfo {
	margin-top: 1rem;
}
.formSection {
	/* border: 2px solid red; */
	font-size: 1.5rem;
	flex: 4;
	

}

.formElement {
	display: flex;
	flex-direction: column;
	margin: 1.5rem 1rem
}

.formElement input {
	padding: .5rem 0;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background-color: inherit;
	
	/* width: 100%; */
	/* height: 100%; */

}
.formSection button {
	font-size: 13px;
	font-family: Arial,  sans-serif;
	font-style: italic;
	background-color: #d9d9d9;
	margin-left: 1rem;
	padding: 1rem;
	width: 208px;
	height: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	outline: none;
	border: 1px solid black;
}

/*# -------------------------------------------------------------------------- */
/*#                                   FOOTER                                   */
/*# -------------------------------------------------------------------------- */


.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
}

.footer a {
	text-decoration: none;
	border-bottom: 1px solid black;
	color: #000;
}

.terms {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}